<tr>
  <td><%= show.date %></td>
  <td><%= show.city %></td>
  <td><%= show.venue %></td>
  <td><%= show.info %></td>
  <td><%= link_to 'Edit', edit_show_path(show) %></td>
  <td><%= link_to 'Destroy', show, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <td><%= check_box_tag "show_ids[]", show.id, false, class: 'selectable' %></td>
</tr>

