<%= form_with(model: product, local: true) do |form| %>
  
  <% if product.errors.any? %>
    <div id="error-explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this merch item  from being saved:</h2>
      
      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_area :link %>
  </div>

  <div class="field">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => 'Select one!') %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>  

<% end %> 