<div class="container-fluid mt-5">
  <div class="d-flex justify-content-around mb-5">
    <div>
      <h2><%= link_to 'ALBUMS', albums_path %></h2>
    </div>
    <div>  
      <h2><%= link_to 'EPs', eps_path %></h2>
    </div>  
    <div> 
      <h2><%= link_to 'OTHER', other_path %></h2>
    </div> 
  </div>
 
    <div class="row mx-auto">
      <p id="notice"><%= notice %></p>

      <%= render partial: 'product', collection: @products %>

    </div>
    <br>    

    <%= link_to 'New Product', new_product_path %>

</div>
