<p id="notice"><%= notice %></p>

<p><%= image_tag @product.main_image %>
<p><%= @product.name %></p>
<p><%= @product.description %></p>
<p><%= @product.link %></p>

<%= link_to 'EDIT', edit_product_path %>
<%= link_to 'BACK', products_path %>